In [3]:
import pandas as pd

In [5]:
data1={
    "name":["sally","marry","john"],
    "age":[50,40,30]
}
data2={
    "qualified":[True,False,True]
}
df1=pd.DataFrame(data1)
print("orginal dataframe1:\n",df1)
df2=pd.DataFrame(data2)
print("orginal dataframe2:\n",df2)
newdf=df1.join(df2)
print("joined dataframe:\n",newdf)

orginal dataframe1:
     name  age
0  sally   50
1  marry   40
2   john   30
orginal dataframe2:
    qualified
0       True
1      False
2       True
joined dataframe:
     name  age  qualified
0  sally   50       True
1  marry   40      False
2   john   30       True

In [16]:
df1=pd.DataFrame([[1,2],[3,4]])
df2=pd.DataFrame([[5,6],[7,8]])
def myfunc(a,b):
    if(a.sum()>b.sum()):
        return a
    else:
        return b
print("orginal dataframe1:\n",df1)
print("orginal dataframe2:\n",df2)
print("combine dataframe using combine function with condition:",df1.combine(df2,myfunc))

orginal dataframe1:
    0  1
0  1  2
1  3  4
orginal dataframe2:
    0  1
0  5  6
1  7  8
combine dataframe using combine function with condition:    0  1
0  5  6
1  7  8

In [9]:
data1={
    "name":["sally","marry","john"],
    "age":[50,40,30]
}
data2={
    "name":["sally","marry","john"],
    "age":[60,80,40]
}
df1=pd.DataFrame(data1)
print("orginal dataframe1:\n",df1)
df2=pd.DataFrame(data2)
print("orginal dataframe2:\n",df2)
newdf=df1.merge(df2,how="right")
print("merge operation:\n",newdf)

orginal dataframe1:
     name  age
0  sally   50
1  marry   40
2   john   30
orginal dataframe2:
     name  age
0  sally   60
1  marry   80
2   john   40
merge operation:
     name  age
0  sally   60
1  marry   80
2   john   40

In [18]:
#create data frame 
df=pd.DataFrame({"team":['A','B','c','d'],
                'points':[88,91,99,94],
                'assists':[12,17,24,28],
                'rebounds':[22,28,30,31]})
#view data frame
print(df)
#reshape dataframe to wide format to long format
df5=pd.melt(df,id_vars='team',value_vars=['points','assists','rebounds'])
#view updated dataframe
print(df5)

  team  points  assists  rebounds
0    A      88       12        22
1    B      91       17        28
2    c      99       24        30
3    d      94       28        31
   team  variable  value
0     A    points     88
1     B    points     91
2     c    points     99
3     d    points     94
4     A   assists     12
5     B   assists     17
6     c   assists     24
7     d   assists     28
8     A  rebounds     22
9     B  rebounds     28
10    c  rebounds     30
11    d  rebounds     31