In [2]:
import pandas as pd

In [3]:
import numpy as np

In [3]:
#dataframe apply function
info=pd.DataFrame([[2,7]]*3,columns=['p','q'])
print(info.apply(np.sqrt))

          p         q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

In [8]:
print(info.apply(np.sum,axis=0))

p     6
q    21
dtype: int64

In [9]:
print(info.apply(np.sum,axis=1))

0    9
1    9
2    9
dtype: int64

In [16]:
#minum maximum
infa=pd.DataFrame([[1,2,3],[4,5,6]],columns=['X','Y','z'])
print(infa.agg(['min','max']))

     X  Y  z
min  1  2  3
max  4  5  6

In [20]:
#dataframe assing function
d2=pd.DataFrame([['sai',123],['sab',125]],columns=['emp','id'])
d2['age']=[35,46]
d=d2.assign(sex=['male','male'])
print(d2)
print(d)

   emp   id  age
0  sai  123   35
1  sab  125   46
   emp   id  age   sex
0  sai  123   35  male
1  sab  125   46  male

In [26]:
#sort
kd=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(kd)
kd2=kd.sort_index()
print(kd2)
kd3=kd.sort_values(by='col3')
print(kd3)

       col3      col4
3 -1.477304  1.222625
2 -2.143599  1.350679
0 -1.023244  0.016213
4  0.620605  0.116587
1 -0.238764 -0.366621
       col3      col4
0 -1.023244  0.016213
1 -0.238764 -0.366621
2 -2.143599  1.350679
3 -1.477304  1.222625
4  0.620605  0.116587
       col3      col4
2 -2.143599  1.350679
3 -1.477304  1.222625
0 -1.023244  0.016213
1 -0.238764 -0.366621
4  0.620605  0.116587

In [4]:
#merge
left=pd.DataFrame({'id':[1,2,3,4,5],
                   'name':['poo','sab','sai','kani','ovi'],
                   'sub':['tam','eng','mathh','sci','social']})
right=pd.DataFrame({'id':[1,2,3,4,5,],
                    'name':['lok','talk','speak','fast','slow'],
                    'sub':['tam','eng','math','sci','soc']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

   id  name     sub
0   1   poo     tam
1   2   sab     eng
2   3   sai   mathh
3   4  kani     sci
4   5   ovi  social
   id   name   sub
0   1    lok   tam
1   2   talk   eng
2   3  speak  math
3   4   fast   sci
4   5   slow   soc
   id name_x   sub_x name_y sub_y
0   1    poo     tam    lok   tam
1   2    sab     eng   talk   eng
2   3    sai   mathh  speak  math
3   4   kani     sci   fast   sci
4   5    ovi  social   slow   soc

In [11]:
#merge
left=pd.DataFrame({'id':[1,2,3,4,5],
                   'name':['poo','sab','sai','kani','ovi'],
                   'sub':['tam','eng','math','sci','social']})
right=pd.DataFrame({'id':[5,4,3,2,1],
                    'name':['lok','talk','speak','fast','slow'],
                    'sub':['tam','eng','math','sci','social']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))
print(pd.merge(left,right,on='sub'))

   id  name     sub
0   1   poo     tam
1   2   sab     eng
2   3   sai    math
3   4  kani     sci
4   5   ovi  social
   id   name     sub
0   5    lok     tam
1   4   talk     eng
2   3  speak    math
3   2   fast     sci
4   1   slow  social
   id name_x   sub_x name_y   sub_y
0   1    poo     tam   slow  social
1   2    sab     eng   fast     sci
2   3    sai    math  speak    math
3   4   kani     sci   talk     eng
4   5    ovi  social    lok     tam
   id_x name_x     sub  id_y name_y
0     1    poo     tam     5    lok
1     2    sab     eng     4   talk
2     3    sai    math     3  speak
3     4   kani     sci     2   fast
4     5    ovi  social     1   slow