In [2]:
import pandas as pd

In [6]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [11]:
#dataframe apply function                                                                                
student=pd.Series(['poovannan','sabarish','sairisi','gokul'])
mark=pd.Series([99,23,45,67])
frame={'STUDENT':student,'MARK':mark}
result=pd.DataFrame(frame)
print(result)

     STUDENT  MARK
0  poovannan    99
1   sabarish    23
2    sairisi    45
3      gokul    67

In [20]:
#adding new column
result['age']=pd.Series([19,20,21,23])
print(result)

     STUDENT  MARK  age
0  poovannan    99   19
1   sabarish    23   20
2    sairisi    45   21
3      gokul    67   23

In [21]:
#printdesired location or row 
print(result.loc[2])

STUDENT    sairisi
MARK            45
age             21
Name: 2, dtype: object

In [24]:
#slicing rows
print(result[1:3])

    STUDENT  MARK  age
1  sabarish    23   20
2   sairisi    45   21

In [40]:
#adding new row
import pandas as pd

# assuming 'result' is your original DataFrame
result = pd.DataFrame([['John', 80, 30], ['Anna', 90, 25]], columns=['STUDENT', 'MARK', 'age'])

# new row to be added
d2 = pd.DataFrame([['praveen', 90, 45]], columns=['STUDENT', 'MARK', 'age'])

# use concat to add the new row
result = pd.append([result, d2], ignore_index=True)

print(result)

AttributeError: module 'pandas' has no attribute 'append'

In [36]:
print(result)

     STUDENT  MARK  age
0  poovannan    99   19
1   sabarish    23   20
2    sairisi    45   21
3      gokul    67   23

In [33]:
#deleting row
print(result.drop(1))

     STUDENT  MARK  age
0  poovannan    99   19
2    sairisi    45   21
3      gokul    67   23